apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: rcds-operator
  namespace: default
rules:
- apiGroups:
  - ""
  resources:
  - pods
  - services
  - services/finalizers
  - endpoints
  - persistentvolumeclaims
  - events
  - configmaps
  - secrets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - apps
  resources:
  - deployments
  - daemonsets
  - replicasets
  - statefulsets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - rcds.distributed-system.io
  resources:
  - rcds
  - rcds/status
  - rcds/finalizers
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
